body {
    background-color :#c9ad63;
    margin-bottom: 20px;
}

textarea { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: block;
    width: 60%;

    padding: 12px;
    border-radius: 6px;
    box-shadow: 6px 6px 3px 1px rgba(0,0,0,.6);
}

textarea::placeholder {
    font-size: 1.6em;
    text-align: center;
}

#output {
    background-color: #d7c384;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;

    border-radius: 6px;
    box-shadow: 6px 6px 6px 1px rgba(0,0,0,.3);
    background-color: white;
}

#format {
    height: 3em;
    width: 60%;
    margin-bottom: 12px;
}

#copy, #clear {
    padding: 6px;
    margin-bottom: 16px;
    width: 24em;
}

/* adjust screen size if on mobile */
@media screen and (max-width: 900px) {
    textarea {
        width: 90%;
    }

    button {
        width: 100% !important;
        font-size: 16px;
    }
}

/* ? + TL/IO */